body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: url('atracciones/fondo.avif') no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten; /* Suaviza la imagen de fondo */
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #1e3d59;
}

header {
    background-color: #1f4b99;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #004080;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #ffcc00;
    color: #004080;
    border-radius: 5px;
}
/* Pie de página */
footer {
    background-color: #1e3d59;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: relative; /* Cambié de fixed a relative */
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Ajuste de margen inferior al contenido principal */
main {
    padding: 5px;
    text-align: center;
    margin-bottom: 100px; /* Añade un margen inferior para evitar que el pie de página tape contenido */
}
